<div class="errorPage">
    <div class="container ">
        {{#if error}}
        <div class="error_text">
            <div class="alert alert-" role="alert">
                {{error}}
            </div>
        </div>
        {{/if}}
    </div>
</div>